{# index.twig #}
{% extends 'fragments/layout.twig' %}

{% block page %}
  <header>
    <h1>{{ faker.lorem.words }}</h1>
  </header>
  <p>
    {{ faker.lorem.paragraph }}
  </p>
  <ul>
    {% for value in [1,2,3,4,5,6,7] %}
        <li>{{ faker.name.firstName }} {{ faker.name.lastName }}</li>
    {% endfor %}
  </ul>
  <div>
    {{ moment(faker.date.past).format('MMM Do YY') }}
  </div>
{% endblock %}
